<div class="parenting-tips">
  <div class="clearfix cfie">
    <div class="pt-nav">
      <h2>Caring for your baby</h2>
      <ul>
        <li><a href="#">While you were in the hospital</a></li>
        <li><a href="#">Infant Care</a></li>
        <li><a href="#">Breastfeeding</a></li>
        <li><a href="#">Safe Sleep for Baby</a></li>
        <li><a href="#">Well Child Services</a></li>
        <li><a href="#">Early Days</a></li>
      </ul>
    </div>
    <div class="pt-nav">
      <h2>Selfcare</h2>
      <ul>
        <li><a href="#">Looking after Mum</a></li>
        <li><a href="#">For Dads</a></li>
        <li><a href="#">Family Planning After Pregnancy</a></li>
        <li><a href="#">Potential Health Checks At Home</a></li>
      </ul>
    </div>
    <div class="pt-nav">
      <h2>Pregnancy & Parenting</h2>
      <ul>
        <li><a href="#">Education Classes</a></li>
      </ul>
    </div>
  </div>
  <div class="clearfix cfie">
    <div class="pt-section">
      <h2><a href="#">Find a Midwife</a></h2>
    </div>
    <div class="pt-section">
      <h2><a href="#">Download the App</a></h2>
    </div>
  </div>
</div>